# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Environment variables
.env